body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .app-root{
  align-items: center;
  text-align: center;
  padding: 20px;
 }
 .input-search{
  width: 40%;
  height: auto;
  border-color: none;
  text-decoration: solid;
 }
 .search-btn{
  background-color: aqua;
  color: red;
  padding: 10px;
 }
 