body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .app-root{
  align-items: center;
  text-align: center;
  padding: 20px;
 }
 .input-search{
  background-color: antiquewhite;
  text-align: center;
  width: 40%;
  height: auto;
  border-color: black;
  text-decoration: solid;
  border-right: none;

 }
 #search-btn{
  text-align: center;
  font-weight: bold;
  background-color: antiquewhite;
  border-color: black;
 }
 #search-btn:hover{
  font-weight: bolder;
  font-size: large;
 }
 .input-wrapper{
  width: 100%;
  height:40%;
 }
 .result-item{
  padding-top: 30px;
 }
 .result-item{
  margin-bottom: 20px;
 }